body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 1800px;
  width:90%;
  height:100%;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #333;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

input[type="file"] {
  margin-top: 10px;
}

.preview {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 12px;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.result {
  margin-top: 20px;
  padding: 12px;
  background-color: #f3f4f6;
  border-radius: 6px;
  font-weight: bold;
}

.history {
  margin-top: 30px;
  text-align: left;
}

.history h2 {
  margin-bottom: 10px;
  color: #4f46e5;
}

.history ul {
  list-style: none;
  padding-left: 0;
}

.history li {
  padding: 6px 10px;
  margin-bottom: 6px;
  background-color: #f0f0ff;
  border-radius: 6px;
  word-break: break-word;
}

footer {
  margin-top: 40px;
  font-size: 14px;
  color: #999;
}
