name: Discord Notify

on:
  push:
    branches:
      - main   # 或你要的分支

jobs:
  notify:
    runs-on: ubuntu-latest 
    steps:
      - name: ai_summary
        id: ai_summary
        env:
        OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
        run: |
          RESPONSE=$(curl https://api.openai.com/v1/chat/completions \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer $OPENAI_API_KEY" \
            -d '{
              "model": "gpt-4.1-mini",
              "messages": [
                {
                  "role": "system",
                  "content": "你是一個嚴格的 code reviewer，請用人類能懂的話解釋這個commit 在做什麼"
                },
                {
                  "role": "user",
                  "content": "${{ github.event.head_commit.message }}"
                }
              ]
            }')
          SUMMARY=$(echo "$RESPONSE" | jq -r '.choices[0].message.content')
          echo "summary=$SUMMARY" >> $GITHUB_OUTPUT #將摘要輸出到 GitHub Actions 的輸出變數中

      - name: Send message to Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }} #查看secret 可進入setting -> Secrets and variables 
        run: |
          curl -H "Content-Type: application/json" \
          -X POST \
          -d '{
            "username": "GitHub Bot",
            "content": "**有人push了 commit！**\n  
              Repo: '${{ github.repository }}'\n 
              作者: '${{ github.actor }}'\n
              訊息: ${{ github.event.head_commit.message }}"\n
              摘要: '${{ steps.ai_summary.outputs.summary }}'
          }' \
          $DISCORD_WEBHOOK
